@inherits LayoutComponentBase

<h1>CDA6122 Fall 2019 Project</h1>
@Body

<pre>
Copyright (&copy;) 2019 David Bruck and Freguens Mildort
Authors: David Bruck (<a href="mailto:dbruck1@@fau.edu">dbruck1@@fau.edu</a>) and Freguens Mildort (<a href="mailto:fmildort2015@@fau.edu">fmildort2015@@fau.edu</a>)
Original source: <a href="https://github.com/CDA6122/Project" target="_blank">https://github.com/CDA6122/Project</a>
License: BSD 2-Clause License (<a href="https://opensource.org/licenses/BSD-2-Clause" target="_blank">https://opensource.org/licenses/BSD-2-Clause</a>)
</pre>